{% extends 'base.html' %}
{% load boot_css %}
{% block content %}
    
    <h1 class="text-center p-3">Login</h1>
    <form method="post">
        {% csrf_token %}
        {% for message in messages %}
            <div class="alert alert-danger">
                {{ message }}
            </div>
        {% endfor %}
        <div class="form-group">
            {{form_login.username.errors}}
            <label>Nome de usuário:</label>
            {{form_login.username|addClass:'form-control'}}
        </div>
        <div class="form-group">
            {{form_login.password1.errors}}
            <label>Senha:</label>
            {{form_login.password|addClass:'form-control'}}
        </div>
        
        <div class="form-group">
            <input type="submit" class="btn btn-primary" value="Logar">
        </div>

    </form>
{% endblock %}